extends layout

block content
  h1 WebMarv
  p(id='welcome') Welcome to WebMarv
  div(id="containerBot")
    - var img = "images/botavatar.png"
    img(src=img id='bot')
    - var imgbouche = "images/botavatar-bouche.png"
    img(src=imgbouche id='botbouche')
  button(type='button', id='talk', onclick='startButton(event)') 
    i(class="fa-solid fa-microphone")
  button(type='button', id='speech', onclick='toggleSynth(event)') 
    i(class="fa-solid fa-volume-high")
  textarea(id="history" readonly)
  textarea(id="text-input" onkeyup="preventMoving(event);" placeholder="Posez-votre question ici... ?")
  p(id="copyright") © Paul WOISARD (Paullux) 2023 - Tous droits réservés - All ritghs reserved