doctype html
html
  head
    title= WebMarv
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    - var socket = '/socket.io/socket.io.js'
    script(src=socket)
    - var js = 'javascripts/script.js'
    script(src=js)
  body
    block content
