doctype html
html
  head
    meta(charset='UTF-8')
    meta(http-equiv='Strict-Transport-Security' content='max-age=31536000')
    title MarvBot
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/github-dark-dimmed.min.css')
    script(type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/highlight.min.js')
    script(type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/marked/4.3.0/marked.min.js')  
    - var socket = '/socket.io/socket.io.js'
    script(src=socket)
    - var js = 'javascripts/script.js'
    script(src=js)
  body
    block content
