extends layout

block content
    div(id='privacy')
        h1 Politique de Confidentialité & CGU
        h2(id='welcome') Politique de Confidentialité de Marv-Bot.fr
        ol(id='welcome')
            li
                strong Collecte des informations:
                p Nous collectons des informations fournies par l'utilisateur, telles que la ville, le nom, le fuseau horaire et les actualités de la presse française. Nous utilisons des expressions régulières pour extraire ces informations depuis l'entrée texte de l'utilisateur.
            li
                strong Utilisation des informations:
                p Les informations collectées sont utilisées pour fournir des actualités, des prévisions météorologiques et l'heure actuelle pertinentes à l'utilisateur. Nous utilisons l'API d'OpenAI pour générer des conversations basées sur les informations fournies. Nous utilisons la synthèse vocale pour lire les messages à haute voix à l'utilisateur.
            li
                strong Stockage des informations:
                p Un historique de 4000 caractères des interactions de l'utilisateur est conservé pour améliorer l'expérience utilisateur. Nous ne conservons pas d'informations sensibles ou personnelles au-delà de cette limite.
            li
                strong Partage des informations:
                p Nous n'utilisons et ne partageons vos informations qu'avec les services nécessaires pour fournir les fonctionnalités de notre site, tels que les API météo, actualités et OpenAI. Nous ne vendons, ne louons et ne partageons pas vos informations avec des tiers à des fins commerciales.
            li
                strong Sécurité:
                p Toutes les communications entre le front-end et le back-end sont sécurisées via des sockets. Nous utilisons des technologies de synthèse vocale pour améliorer l'interaction avec l'utilisateur. Aucune donnée vocale n'est stockée ou traitée en dehors de votre appareil. Nous utilisons des API tierces pour obtenir des informations météorologiques et des actualités. Ces API peuvent avoir leurs propres politiques de confidentialité que nous vous recommandons de consulter.
        h2(id='welcome') Conditions Générales d'Utilisation (CGU) de Marv-Bot.fr
        ol(id='welcome')
            li
                strong Acceptation des CGU:
                p En utilisant Marv-Bot.fr, vous acceptez les présentes CGU.
            li
                strong Utilisation du service:
                p Marv-Bot.fr est fourni "tel quel" et est destiné à fournir des informations météorologiques et des actualités basées sur les données fournies par l'utilisateur.
            li
                strong Limitation de responsabilité:
                p Bien que nous nous efforcions de fournir des informations précises, nous ne pouvons garantir l'exactitude ou la pertinence des données générées.
            li
                strong Modifications:
                p Nous nous réservons le droit de modifier ou de mettre à jour ces CGU à tout moment.
            li
                strong Contact:
                p Pour toute question concernant ces CGU ou la politique de confidentialité, veuillez nous contacter à [votre adresse e-mail].