body {
    padding:0;
    margin:0;
    height: auto;
    width: 100vw;
    background: url('../images/computing.jpeg') no-repeat fixed center;
    background-color: var(--main-bg-color) !important;
    background-size: cover;
    font-family: sans-serif;
    overflow: hidden;
}

#ip {
    visibility: hidden;
}

#soundContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-left: calc((100vw - 645px) /2);
    position: relative;
}

#soundButton {
    font-size: 1.3em;
    font-weight: 800;
    width: 160px;
    height: 80px;
    border-color: var(--border-color);
    border: solid 5px;
    border-radius: 10px;
    background-color: var(--main-bg-color);
    color: var(--color-text);
    z-index: 25;
    position: absolute;
}

#talk {
    border-color: var(--border-color);
    border: solid 5px;
    margin-left: 0;
    width: 80px;
    height: 80px;
    margin-top: calc(90px + 80px);
    text-decoration-line: line-through;
    display: none;
    position: absolute;
    z-index: 25;
    color: var(--color-text);
    background-color: var(--to-talk-button-bg-color);
    font-size: 1.5em;
    border-radius: 50%;
}

#speech {
    border-color: var(--border-color);
    border: solid 5px;
    margin-left: 0;
    width: 80px;
    height: 80px;
    margin-top: calc(180px + 160px);
    text-decoration-line: line-through;
    display: none;
    position: absolute;
    z-index: 25;
    color: var(--color-text);
    background-color: var(--to-talk-button-bg-color);
    font-size: 1.5em;
    border-radius: 50%;
}

#accessContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-left: 165px;
    position: relative;
}

#accessButton {
    font-size: 1.3em;
    font-weight: 800;
    width: 160px;
    height: 80px;
    margin-left: 5vw;
    border-color: var(--border-color);
    border: solid 5px;
    border-radius: 10px;
    background-color: var(--main-bg-color);
    color: var(--color-text);
    z-index: 25;
    position: absolute;
}

#bw {
    color: black;
    border-color: var(--border-color);
    border: solid 5px;
    background-color: white;
    margin-left: 95px;
    width: 80px;
    height: 80px;
    margin-top: calc(90px + 80px);
    text-decoration-line: line-through;
    display: none;
    position: absolute;
    z-index: 25;
    font-size: 40px;
    border-radius: 50%;
}

#wb {
    color: white;
    border-color: var(--border-color);
    border: solid 5px;
    background-color: black;
    margin-left: 95px;
    width: 80px;
    height: 80px;
    margin-top: calc(180px + 160px);
    text-decoration-line: line-through;
    display: none;
    position: absolute;
    z-index: 25;
    font-size: 40px;
    border-radius: 50%;
}

#color {
    color: black;
    border-color: var(--border-color);
    border: solid 5px;
    background-color: #070D;
    margin-left: 95px;
    width: 80px;
    height: 80px;
    margin-top: calc(360px + 160px);
    text-decoration-line: line-through;
    display: none;
    position: absolute;
    z-index: 25;
    font-size: 40px;
    border-radius: 50%;
}

#promptContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-left: 15vw;
    position: relative;
}

#promptButton {
    font-size: 1.3em;
    font-weight: 800;
    width: 160px;
    height: 80px;
    margin-left: 10vw;
    border-color: var(--border-color);
    border: solid 5px;
    border-radius: 10px;
    background-color: var(--main-bg-color);
    color: var(--color-text);
    z-index: 25;
    position: absolute;
}

form {
    display: none;
    flex-direction: column;
    top: 100px;
    position: absolute;
    right: 15px;
    z-index: 25;
}

form textarea {
    height: 190px;
    width: 60vw;
    font-size: 2em;
    font-weight: 600;
    border-color: var(--border-color);
    background-color: var(--main-bg-color);
    border: solid 5px;
    border-radius: 10px;
    position: relative;
}

#savePrompt {
    top: 0;
    width: 160px;
    height: 60px;
    font-size: 1.2em;
    font-weight: 600;
    left: calc(60vw - 150px);
    border-color: var(--border-color);
    background-color: var(--main-bg-color);
    border: solid 5px;
    border-radius: 10px;
    position: relative;
}

h1 {
    color: var(--color-text-title);
    text-shadow: var(--text-shadow) 1px 0 10px;
}

#welcome {
    color: var(--color-text-title);
    text-shadow: var(--text-shadow) 1px 0 10px;
    font-size: 2em;
    font-weight: 900;
}

#welcome h1 {
    font-size: 2.5em;
    font-weight: 900;
}

#containerBot {
    display:flex;
    flex-direction: row;
    align-items: center;
    width: 100vw;
}

#bot {
    left: 3vw;
    width: 100px;
    height: 100px;
    /* transform: translateX(88vw); */
    position: relative;
    z-index: 1;
}

#botbouche {
    left: 3vw;
    width: 100px;
    height: 100px;
    transform: translateX(-100px);
    position: relative;
    z-index: 2;
}

#history {
    background-color: var(--color-bg-history);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    border-color: var(--border-color);
    border: solid 5px;
    color: var(--color-text);
    margin-top: 15px; 
    margin-left: 1vw;
    width: 95vw;
    height: 57vh;
    padding: 1vw;
    font-size: 1.5em;
    font-weight: 900;
    margin-right: 60vw;
    font-weight: bold;
    overflow-x: hidden;
    overflow-y: auto;
    resize: none;
    scroll-behavior: smooth;
}

#messageSend {
    display: flex;
    flex-direction: row;
    width: 97vw;
    height: 13vh;
    margin: 15px;
    margin-left: 1vw;
    top: 20px;
}

#text-input::placeholder {
    color: var(--color-text);
    font-size: 1.5em;
    font-weight: 900;
}

#text-input {
    border-color: var(--border-color);
    border: solid 5px;
    width: 100%;
    height: 10vh;
    margin: 15px;
    font-size: 1.5em;
    font-weight: 900;
    border-radius: 20px;
    color: var(--color-text);
    background-color: var(--color-bg-history);
}

#send { 
    border-color: var(--border-color);
    border: solid 5px;
    background-color: var(--to-send-button-bg-color);
    backdrop-filter: blur(5px);
    color: var(--color-text-alt);
    width: 15vw;
    margin-left: 30vw;
    height: 10vh;
    margin: 15px;
    font-size: 1.5em;
    font-weight: 900;
    border-radius: 20px;
}

footer {
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
}

#copyright {
    margin-right: 10px;
    height: 2em;
    width: 25vw;
    color:var(--cr-and-disclaim);
    font-weight: bold;
    margin-right: 10px;
}

pre {
    background-color: var(--main-bg-color);
    word-break: break-word;
}

div::-ms-overflow-style{
    display: none;
}

/* Réduire la hauteur de la barre de défilement */
div::-webkit-scrollbar {
    width: 8px;
    margin-right: 20px;
    height: calc(min(35em, 60vh) - 8vh);
}
  
div::-webkit-scrollbar-thumb {
    background: var(--thumb-bg);
    border-radius: 10px;
}
  
div::-webkit-scrollbar-track {
    border-radius: 10px;
    opacity: 0.65;
    border: 2px solid var(--border-color);
    background: var(--scrollbar-track) !important;
}

#privacy-index {
    color:var(--cr-and-disclaim);
    width: auto;
    height: 2em;
    font-weight: bold;
    background-color: #444444cc;
    margin-left: 10px;
}

#privacy {
    position: fixed;
    color:var(--cr-and-disclaim);
    z-index: 500;
    font-weight: bold;
    background-color: #444444cc;
    width: calc(100vw - 50px);
    height: calc(100vh - 90px);
    top: 50px;
    bottom: 10px;
    left: 10px;
    right: 10px;
    padding: 15px;
    border-radius: 10px;
    overflow-y: scroll;
    text-shadow: none;
}

#privacy-button {
    position: fixed;
    color:var(--cr-and-disclaim);
    z-index: 500;
    font-weight: bold;
    font-size: large;
    background-color: #444444cc;
    top: 10px;
    left: 20px;
    text-shadow: none;
}

#privacy-welcome {
    color: var(--color-text-title);
    text-shadow: none;
}

button:hover {
    cursor: pointer;
}

@media screen and (min-width: 465px) and (max-width: 900px) {
    body {
        overflow: auto;
    }

    #soundButton {
        font-size: 1.5em;
    }

    #accessButton {
        font-size: 1.5em;
    }
    #history {
        font-size: 25pt !important;
        font-weight: 900;
    }
    #text-input::placeholder {
        font-size: 25pt;
        font-weight: 900;
    }
    #text-input {
        font-size: 25pt;
        font-weight: 900;
    }

    #copyright {
        font-size: 1.5em;
    }
    #privacy-index {
        font-size: 1.5em;
    }
}

@media screen and (max-width: 465px) {
    body {
        overflow: auto;
    }

    #soundButton {
        font-size: 2.5em;
    }

    #accessButton {
        font-size: 2.5em;
    }
    #history {
        font-size: 55pt;
        font-weight: 900;
    }
    #text-input::placeholder {
        font-size: 55pt;
        font-weight: 900;
    }
    #text-input {
        font-size: 55pt;
        font-weight: 900;
    }

    footer {
        font-size: 4.5em;
    }
    #privacy-index {
        height: 3.5em;
        width: 35vw;
    }

    #copyright {
        font-size: 2.5em;
    }
    #privacy-index {
        font-size: 2.5em;
    }
}