body {
    padding:0;
    margin:0;
    height: 100vh;
    width: 100vw;
    background: lightblue url('../images/computing.jpeg') no-repeat fixed center;
    background-size: cover;
    font-family: sans-serif;
    overflow: hidden;
}

#talk {
    position: absolute;
    transform: translateX(20vw);
    width: 10vw;
    height: 50px;
    bottom: 0;
    margin: 25px;
    bottom: 0;
    text-decoration-line: line-through;
    z-index: 5;
    background-color: #f00;
}

#speech {
    position: absolute;
    transform: translateX(60vw);
    width: 10vw;
    height: 50px;
    bottom: 0;
    margin: 25px;
    bottom: 0;
    text-decoration-line: line-through;
    z-index: 5;
    background-color: #f00;
}

h1 {
color: white;
}

#welcome {
color: white;
}

#bot {
    right: 5vw;
    width: 40vw;
    height: min(40vw 30vh);
    transform: translateX(55vw);
    position: relative;
    z-index: 1;
}

#botbouche {
    right: 5vw;
    width: 40vw;
    height: min(40vw 30vh);
    transform: translateX(15vw);
    position: relative;
    z-index: 2;
}

#history {
    background-color: #fff7;
    border-radius: 5%;
    border-color: #000;
    color: #000;
    border: solid 5px;
    width: 40vw;
    height: min(35em, 60vh);
    padding: 1vw;
    margin-left: 0;
    margin-right: 60vw;
    transform: translateY(calc(-40vw));
    font-size: 1.5em;
    font-weight: bold;
    overflow-x: hidden;
    overflow-y: auto;
    resize: none;
}

#text-input {
    transform: translateY(calc(-40vw));
    width: 40vw;
    height: 10vh;
    margin: 15px;
    font-size: 2.5em;
}

#copyright {
    position: fixed;
    bottom: 0;
    margin-left: 37vw;
    margin-right: 43vw;
    color: bisque;
    font-weight: bold;
    text-align: center
}