body {
    padding:0;
    margin:0;
    height: 100vh;
    width: 100vw;
    background: url('../images/computing.jpeg') no-repeat fixed center;
    background-color: var(--main-bg-color);
    background-size: cover;
    font-family: sans-serif;
    overflow: hidden;
}

#ip {
    visibility: hidden;
}

#talk {
    position: absolute;
    transform: translateX(20vw);
    border-color: var(--border-color);
    border: solid 5px;
    width: 80px;
    height: 80px;
    top: 10px;
    bottom: 0;
    margin: 25px;
    text-decoration-line: line-through;
    z-index: 5;
    color: var(--color-text);
    background-color: var(--to-talk-button-bg-color);
    font-size: 1.5em;
    border-radius: 50%
}

#speech {
    position: absolute;
    transform: translateX(calc(20vw + 90px));
    border-color: var(--border-color);
    border: solid 5px;
    width: 80px;
    height: 80px;
    top: 10px;
    bottom: 0;
    margin: 25px;
    text-decoration-line: line-through;
    z-index: 5;
    color: var(--color-text);
    background-color: var(--to-talk-button-bg-color);
    font-size: 1.5em;
    border-radius: 50%
}

h1 {
color: var(--color-text-title);
text-shadow: var(--text-shadow) 1px 0 10px;
}

#welcome {
color: var(--color-text-title);
text-shadow: var(--text-shadow) 1px 0 10px;
}

#bot {
    right: 5vw;
    width: 40vw;
    height: min(40vw 30vh);
    transform: translateX(55vw);
    position: relative;
    z-index: 1;
}

#botbouche {
    right: 5vw;
    width: 40vw;
    height: min(40vw 30vh);
    transform: translateX(15vw);
    position: relative;
    z-index: 2;
}

#history {
    background-color: var(--color-bg-history);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    border-color: var(--border-color);
    border: solid 5px;
    color: var(--color-text);
    width: 45vw;
    height: min(35em, 60vh);
    padding: 1vw;
    margin-left: 0;
    margin-right: 60vw;
    transform: translateY(calc(-40vw));
    font-size: 1.5em;
    font-weight: bold;
    overflow-x: hidden;
    overflow-y: auto;
    resize: none;
    scroll-behavior: smooth;
}

#messageSend {
    display: flex;
    flex-direction: row;
    border-color: var(--border-color);
    border: solid 5px;
    width: 46vw;
    height: 10vh;
    margin: 15px;
    margin-bottom: 50px;
}

#text-input::placeholder {
    color: #444;
}

#text-input {
    transform: translateY(calc(-40vw));
    border-color: var(--border-color);
    border: solid 5px;
    width: 70vw;
    height: 10vh;
    margin: 15px;
    font-size: 2.5em;
    border-radius: 20px;
    color: var(--color-text);
    background-color: var(--color-bg-history);
}

#send { 
    transform: translateY(calc(-40vw));
    border-color: var(--border-color);
    border: solid 5px;
    background-color: var(--to-send-button-bg-color);
    backdrop-filter: blur(5px);
    color: var(--color-text-alt);
    width: 25vw;
    margin-left: 30vw;
    height: 10vh;
    margin: 15px;
    font-size: 1.5em;
    border-radius: 20px;
}

#copyright {
    position: fixed;
    bottom: 0;
    right: 0;
    margin-right: 1vw;
    margin-left: 80vw;
    color:var(--cr-and-disclaim);
    z-index: 500;
    font-weight: bold;
    text-align: center
}

#disclaimer {
    position: fixed;
    text-align: justify;
    font-weight: bold;
    z-index: 500;
    right: 10px;
    top: -10px;
    margin-left: 75vw;
    color: var(--cr-and-disclaim);
    text-shadow: var(--text-shadow) 1px 0 10px;
}

pre {
    background-color: var(--send-text-bg);
    word-break: break-word;
}

div::-ms-overflow-style{
    display: none;
}

/* Réduire la hauteur de la barre de défilement */
div::-webkit-scrollbar {
    width: 8px;
    margin-right: 20px;
    height: calc(min(35em, 60vh) - 8vh);
}
  
div::-webkit-scrollbar-thumb {
    background: var(--thumb-bg);
    border-radius: 10px;
}
  
div::-webkit-scrollbar-track {
    border-radius: 10px;
    opacity: 0.65;
    border: 2px solid var(--border-color);
    background: var(--scrollbar-track) !important;
}

#bw {
    position: fixed;
    color: black;
    border-color: var(--border-color);
    border: solid 5px;
    background-color: white;
    top: 42vh;
    left: calc(100vw - 95px);
    height: 90px;
    width:90px;
    font-size: 40px;
    border-radius: 50%;
}

#wb {
    position: fixed;
    color: white;
    border-color: var(--border-color);
    border: solid 5px;
    background-color: black;
    top: calc(42vh + 95px);
    left: calc(100vw - 95px);
    height: 90px;
    width:90px;
    font-size: 40px;
    border-radius: 50%;
}

#color {
    position: fixed;
    color: blacke;
    border-color: var(--border-color);
    border: solid 5px;
    background-color: #070D;
    top: calc(42vh + (2 * 95px));
    left: calc(100vw - 95px);
    height: 90px;
    width:90px;
    font-size: 40px;
    border-radius: 50%;
}